/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* -----------------------------------------------------
Browser Resets
----------------------------------------------------- */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 
/* -----------------------------------------------------
FlexSlider Necessary Styles
----------------------------------------------------- */
.flexslider {
	margin: 0; 
	padding: 0;
}
.flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%; 
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* -----------------------------------------------------
Clearfix for the .slides element
----------------------------------------------------- */
.slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* -----------------------------------------------------
FlexSlider Default Theme
----------------------------------------------------- */
.flexslider {
	margin: 0 0 60px; 
	background: #fff; 	
	position: relative; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	zoom: 1;}
.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;}
.flexslider .slides {
	zoom: 1;
}

.carousel li {
	margin-right: 5px
}
/* -----------------------------------------------------
Direction Nav
----------------------------------------------------- */
.flex-direction-nav {
	*height: 0;
}
.flex-direction-nav a {
	width: 30px; 
	height: 30px; 
	margin: -20px 0 0; 
	display: block; 	
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px;  
	-webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {
	background-position: 100% 0; right: -36px; 
}
.flex-direction-nav .flex-prev {
	left: -36px;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default;
}
/* Control Nav */
/*
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
/* -----------------------------------------------------
Global
----------------------------------------------------- */
.flex-direction-nav a {
	width: 41px; 
	height: 43px; 
	margin: -20px 0 0;
	display: block;	
	position: absolute;
	transition: background 400ms;
    -moz-transition: background 400ms;
    -webkit-transition: background 400ms;
    -o-transition: background 400ms;
}
.flex-direction-nav a.flex-prev {
	background: url(images/medium_content_button_left_sprite.png) no-repeat 0 0,url(images/small_content_button_left_shadow.png) no-repeat 0 100%; 
}
.flex-direction-nav a.flex-next {
	background: url(images/medium_content_button_right_sprite.png) no-repeat 0 0,url(images/small_content_button_right_shadow.png) no-repeat 0 100%;  
}
.flex-direction-nav a.flex-prev:hover{
	background: url(images/medium_content_button_left_sprite.png) no-repeat 0 0,url(images/small_content_button_left_shadow.png) no-repeat 0 100%; 
	background-position: 100% 0 ,0 100%;
}
.flex-direction-nav a.flex-next:hover{
	background: url(images/medium_content_button_right_sprite.png) no-repeat 0 0,url(images/small_content_button_right_shadow.png) no-repeat 0 100%;  
	background-position: 100% 0,0 100%;
}
/* -----------------------------------------------------
Testimonials
----------------------------------------------------- */
.testimonials .flex-direction-nav a{
	top: 120%;
}
.testimonials .flex-direction-nav a.flex-prev {
	left: 40% !important;
}
.testimonials .flex-direction-nav a.flex-next {
	right: 40% !important;
}

/* -----------------------------------------------------
Clients slider
----------------------------------------------------- */
.clients-slider{
	border: 1px #d5d4d4 solid;
}	
.clients-slider .flex-direction-nav a{
	top: 120%;
}
.clients-slider .flex-direction-nav a.flex-prev,.clients-slider .flex-direction-nav a.flex-next{
	top: 140%;
}
.clients-slider .flex-direction-nav a.flex-prev {
	left: 45% !important;
}
.clients-slider .flex-direction-nav a.flex-next {
	right: 45% !important;
}
/* -----------------------------------------------------
About us slider
----------------------------------------------------- */
.about-us-slider .flex-direction-nav a.flex-prev {
	left: 0;
}

.about-us-slider .flex-direction-nav a.flex-next {
	right: 0;
}
.about-us-slider .flex-direction-nav a {
	width: 41px; 
	height: 43px; 
}	
.about-us-slider .flex-direction-nav a.flex-prev {
	background: url(images/medium_content_button_left_sprite.png) no-repeat !important; 
}
.about-us-slider .flex-direction-nav a.flex-next {
	background: url(images/medium_content_button_right_sprite.png) no-repeat !important;  
}
.about-us-slider .flex-direction-nav a.flex-prev:hover{
	background: url(images/medium_content_button_left_sprite.png) no-repeat !important; 
	background-position: 100% 0 !important;
}
.about-us-slider .flex-direction-nav a.flex-next:hover{
	background: url(images/medium_content_button_right_sprite.png) no-repeat !important; 
	background-position: 100% 0 !important;
}	
/* -----------------------------------------------------
Single portfolio slider
----------------------------------------------------- */
.single-portfolio-slider .flex-direction-nav a{
	top: 120%;
}
.single-portfolio-slider .flex-direction-nav a.flex-prev,.single-portfolio-slider .flex-direction-nav a.flex-next{
	top: 110%;
}
.single-portfolio-slider .flex-direction-nav a.flex-prev {
	left: 45% !important;
}
.single-portfolio-slider .flex-direction-nav a.flex-next {
	right: 45% !important;
}
.single-portfolio-slider .flex-direction-nav a {
	width: 41px; 
	height: 43px; 
}	
.single-portfolio-slider .flex-direction-nav a.flex-prev {
	background: url(images/medium_content_button_left_sprite.png) no-repeat !important; 
}
.single-portfolio-slider .flex-direction-nav a.flex-next {
	background: url(images/medium_content_button_right_sprite.png) no-repeat !important;  
}
.single-portfolio-slider .flex-direction-nav a.flex-prev:hover{
	background: url(images/medium_content_button_left_sprite.png) no-repeat !important; 
	background-position: 100% 0 !important;
}
.single-portfolio-slider .flex-direction-nav a.flex-next:hover{
	background: url(images/medium_content_button_right_sprite.png) no-repeat !important; 
	background-position: 100% 0 !important;
}