/* -----------------------------------------------------
All
----------------------------------------------------- */
.widget-area{   
   display: block;
}

.widget-area .widget {
    margin-bottom: 42px;
}
/* -----------------------------------------------------
Recent Post
----------------------------------------------------- */
.widget_recent_entries li a{
    color: #000000;
    transition: color 400ms;
    -moz-transition: color 400ms;
    -webkit-transition: color 400ms;
    -o-transition: color 400ms;
}
.widget_recent_entries li {
    border-bottom: 1px #cacaca dashed;
    background: url('images/small_content_circle.png') no-repeat 0 50%;
    padding: 12px 0 12px 16px;
}

.widget_recent_entries li a:hover {
    color: #89bf42 !important;
}
/* -----------------------------------------------------
Search
----------------------------------------------------- */
.widget_search input {
    padding: 16px;
    border: 1px #c4c4c4 solid;
    display: block;
    background: url('images/medium_widget_loupe.png') no-repeat 100% 50%;
    background-color: #ffffff;
    width: 100%;
}
/* -----------------------------------------------------
Comments
----------------------------------------------------- */
.recent-comments-widget li {
    color: #000000;
    border-bottom: 1px #cacaca dashed;
    background: url('images/small_widget_comment_bubbles.png') no-repeat 0 50%;
    padding: 12px 0 12px 20px;
}
/* -----------------------------------------------------
Tags
----------------------------------------------------- */
.tags-widget .tagcloud > div {
    background: url('images/medium_widget_tag_bg_normal.png') no-repeat;
    background-size: 100% 100%;
    
    margin-bottom: 8px;
    margin-right: 8px;
    float: left;
    display: block;
    transition: background 400ms;
    -moz-transition: background 400ms;
    -webkit-transition: background 400ms;
    -o-transition: background 400ms;
}
.tags-widget .tagcloud > div:hover{
    background: url('images/medium_widget_tag_bg_hovered.png') no-repeat;
background-size: 100% 100%;
}
.tags-widget .tagcloud > div a {
    display: block;
    padding: 8px;    
    transition: color 400ms;
    -moz-transition: color 400ms;
    -webkit-transition: color 400ms;
    -o-transition: color 400ms;
}
.tags-widget .tagcloud > div a:hover {
    color: #ffffff;
}
/* -----------------------------------------------------
Portfolio widget
----------------------------------------------------- */
.portfolio-widget .portfolio-element{
  width: 300px;
  min-height: 310px;
}
/* -----------------------------------------------------
Global reset
----------------------------------------------------- */
.widget-area .widget li:first-child{
    
}